*_bb.v
*_inst.v
*.ppf
*.qws
greybox_tmp
.DS_Store
software/*/.cproject
software/*/.force_relink
software/*/.project
software/*/.settings/*
software/*/obj/*
software/fw/fw.elf
software/fw/fw.map
software/fw/fw.bin
db/*
sys/*
output_files/*
incremental_db/*
.cproject
.qsys_edit/*
tools/bin2hex
tools/create_fw_img
*.a